.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* .gallery-container {
    position: relative;
    top: 65px;
    padding-bottom: 30px;
  } */

.gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 12px;
    justify-content: center;
    padding: 0 8px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
}